{% load static from staticfiles %}

<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />

        <title>Qualya | Home Page</title>
    </head>

    <body>
        <div id="load-screen"></div>

        <div id="nav">
            <img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logo.png' %}" />
        </div><!-- /nav -->

        <div id="main">
            <p id="main-heading">Sentiment for the most-followed stocks.</p>

            <form id="search-form" method="get">
                <div id="ticker-dropdown-container" class="search-form-child">
                    <label>
                        <span>Symbol:</span>
                        <select id="ticker-dropdown" name="symbol" tabindex="1"></select>
                    </label>
                </div>

                <div id="search-form-button-container" class="search-form-child">
                    <button id="search-form-button" name="submit" type="submit" onclick="addFormAction()">Search</button>
                </div>
            </form>

            <img id="main-img" alt="Sentiment Tesseract" src="{% static 'img/sentiment_tesseract.png' %}" />
        </div><!-- /main -->

        <script src='{% static "js/global.js" %}'></script>
        <script src='{% static "js/home.js" %}'></script>

        <script>
            'use strict';

            //GLOBAL VARS
            var SYMBOLS = {{ symbols|safe }};

            //METHODS in 'js/home.js'

            //MAIN
            (function() { populateDropDownMenu() }());
        </script>

        <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
    </body>
</html>
