{% load static from staticfiles %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/chartist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stock_sentiment_universe.css' %}" />

    <title>Qualya | Stock Sentiment | Universe</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">
        <a href="/home">
            <img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logos/logo.png' %}" />
        </a>
    </div><!-- /nav -->

    <div id="sub-nav">
        <div class="button">
            <img id="date-back-button" src="{% static 'img/buttons/date_back.png' %}" />
        </div>

        <div id="universe-container" class="container"></div>

        <div class="button">
            <img id="date-forward-button" src="{% static 'img/buttons/date_forward.png' %}" />
        </div>
    </div><!-- /sub-nav -->

    <div id="histogram-container" class="chart-container">
        <div id="histogram" class="ct-chart"></div>
    </div>

    <div id="sentiment-bars-container" class="chart-container"></div>

    <script src='{% static "js/chartist.js" %}'></script>
    <script src='{% static "js/global.js" %}'></script>
    <script src='{% static "js/stock_sentiment_universe.js" %}'></script>

    <script>
        'use strict';

        //GLOBAL VARS
        var DATE    = "{{ date }}",
            SYMBOLS = {{ symbols|safe }},
            SCORES  = {{ scores |safe }},
            BINS    = {{ bins   |safe }};

        //METHODS in 'js/stock_sentiment_universe.js'

        //MAIN
        (function() {

            addDateButtonClickEvents();
            printUniverseInfo();
            addSentimentGraphics();

            //debug mode
            if(DEBUG_UNIVERSE) {

                //add histogram and toggle functionality
                addHistogram();
                document.getElementById("universe-container").onclick = toggleHistogram;

                //test
                console.log(DATE, SYMBOLS, SCORES, BINS);
            }
        }());
    </script>

    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
