{% load static from staticfiles %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/chartist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stock_sentiment_historical.css' %}" />

    <title>Qualya | Stock Sentiment | Historical Data</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">
        <a href="/"><img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logos/logo.png' %}" /></a>
    </div><!-- /nav -->

    <div id="sub-nav">
        <div class="button">
            <img id="zoom-out-button" class="sub-nav-button" src="{% static 'img/buttons/zoom_out.png' %}" />
        </div>

        <div id="historical-container" class="container sub-nav-container">
            <div id="dropdown-container" class="container">
                <p id="hist-text" class="text">Historical data for</p>

                <select id="ticker-dropdown-2" class="dropdown" name="symbol" tabindex="1"></select>
            </div>

            <button id="go-button" class="button">&#8594;</button>
        </div><!-- /historical-container -->

        <div class="button">
            <img id="zoom-in-button" class="sub-nav-button" src="{% static 'img/buttons/zoom_in.png' %}" />
        </div>
    </div><!-- /sub-nav -->

    <!-- CHARTS -->
    <div id="line-charts-container" class="chart-container">
        <div id="price-chart" class="ct-chart line-charts"></div>

        <div id="sentiment-chart" class="ct-chart line-charts"></div>

        <div id="line-charts-legend">
            <b>Closing Price</b> = 'orange', &nbsp
            <b>Moving Avg. Closing Price</b> = 'light orange', &nbsp
            <b>Avg. Sentiment</b> = 'blue', &nbsp
            <b>Moving Avg. Sentiment</b> = 'light blue'
        </div>
    </div>

    <div id="stacked-bar-chart-container" class="chart-container">
        <div id="stacked-bar-chart" class="ct-chart"></div>
    </div>
    <!-- END CHARTS -->

    <script src='{% static "js/chartist.js" %}'></script>
    <script src='{% static "js/global.js" %}'></script>
    <script src='{% static "js/stock_sentiment_historical.js" %}'></script>

    <script>
        'use strict';

        //GLOBAL VARS
        var SYMBOL            = "{{ current_stock }}",
            SYMBOLS           = {{ symbols|safe }},
            DATES             = {{ dates|safe }},
            TIME_FRAME        = {{ dates|length }},
            CLOSES            = {{ closes|safe }},
            MOV_CLOSES        = {{ moving_avg_price|safe }},
            SCORES_BY_DATE    = {{ scores_by_date|safe }},
            AVG_SENTIMENT     = {{ avg_sentiment|safe }},
            MOV_AVG_SENTIMENT = {{ moving_avg_sentiment|safe }},
            BINS              = {{ bins|safe }};

        {% for d in dates %}
            {% if forloop.last %}
                var DATE = "{{ d|safe }}";
            {% endif %}
        {% endfor %}

        //METHODS in 'js/stock_sentiment_historical.js'
 
        //MAIN
        (function() {

            //sub-nav menu
            addZoomButtonsClickEvents();
            populateDropDownMenu("ticker-dropdown-2", SYMBOLS);
            addGoButtonClickEvent();

            //charts
            addLineCharts();
            addStackedBarChart();

            //debug mode
            if(DEBUG_UNIVERSE) {

                //test
                console.log(SYMBOL, SYMBOLS, DATES, TIME_FRAME, CLOSES, MOV_CLOSES, SCORES_BY_DATE, AVG_SENTIMENT, MOV_AVG_SENTIMENT, BINS);
            }
        }());
    </script>

    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
