{% load static from staticfiles %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/chartist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stock_sentiment_universe.css' %}" />

    <title>Qualya | Stock Sentiment | Universe</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">
        <a href="/home">
            <img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logo.png' %}" />
        </a>
    </div><!-- /nav -->

    <div id="sub-nav">
        <button id="date-button-back" class="date-button">&#171;</button>

        <div id="universe-container"></div>

        <button id="date-button-forward" class="date-button">&#187;</button>
    </div><!-- /sub-nav -->

    <div id="histogram-container">
        <div id="histogram" class="ct-chart"></div>
    </div>

    <div id="sentiment-bars-container"></div>

    <script src='{% static "js/chartist.js" %}'></script>
    <script src='{% static "js/stock_sentiment_universe.js" %}'></script>

    <script>
        'use strict';

        //GLOBAL VARS
        var DATE    = "{{ date }}",
            SYMBOLS = {{ symbols|safe }},
            SCORES  = {{ scores |safe }},
            VOLUMES = {{ volumes|safe }},
            CLOSES  = {{ closes |safe }},
            BINS    = {{ bins   |safe }};

        //METHODS in 'js/stock_sentiment_universe.js'

        //MAIN
        (function() {

            addDateButtonClickEvents();
            printUniverseInfo();
            addSentimentGraphics();

            //debug mode
            if(DEBUG_UNIVERSE) {

                //add histogram and toggle functionality
                addHistogram();
                document.getElementById("universe-container").onclick = toggleHistogram;

                //test
                console.log(DATE, SYMBOLS, SCORES, VOLUMES, CLOSES, BINS);
            }
        }());
    </script>

    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
