{% load static from staticfiles %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/chartist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stock_sentiment_historical.css' %}" />

    <!-- ELIMINATE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!--           -->

    <title>Qualya | Stock Sentiment | Historical Data</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">
        <a href="/home">
            <img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logo.png' %}" />
        </a>
    </div><!-- /nav -->

    <div id="sub-nav">
        <div id="zoom-in-button" class="button">
            <p id="minus">-</p>
        </div>

        <div id="historical-container" class="container">
            <div id="dropdown-container" class="container">
                <p id="hist-text" class="text">Historical data for</p>

                <select id="ticker-dropdown-2" class="dropdown" name="symbol" tabindex="1"></select>
            </div>

            <button id="go-button" class="button">&#8594;</button>
        </div>

        <div id="zoom-out-button" class="button">
            <p id="plus">+</p>
        </div>
    </div><!-- /sub-nav -->

    <div id="line-graph-container">
        <div id="line-graph" class="ct-chart"></div>
    </div>

    <!-- ELIMINATE -->
    <div class="chart-container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="row dateselector">
            <div class="col-sm-12 center">
                <form class="row form-inline" name="rangeform"></form>
            </div>
        </div>

        <div class="row chart">
            <div class="col-md-12">
                <figure>
                    <div id="chart"></div>
                </figure>
            </div>
        </div>
    </div><!-- /chart-container -->
    <!--           -->

    <!-- ELIMINATE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js'></script>
    <!--          -->

    <script src='{% static "js/chartist.js" %}'></script>
    <script src='{% static "js/global.js" %}'></script>
    <script src='{% static "js/stock_sentiment_historical.js" %}'></script>

    <script>
        'use strict';

        //GLOBAL VARS
        var SYMBOL         = "{{ current_stock }}",
            SYMBOLS        = {{ symbols|safe }},
            dates          = {{ dates|safe }},
            timeFrame      = {{ dates|length }},
            closes         = {{ closes|safe }},
            scores_by_date = {{ scores_by_date|safe }},
            avg_sentiment  = {{ avg_sentiment|safe }},
            bins           = {{ bins|safe }};

        {% for d in dates %}
            {% if forloop.last %}
                var DATE = "{{ d|safe }}";
            {% endif %}
        {% endfor %}

        //METHODS in 'js/stock_sentiment_historical.js'

        //MAIN
        (function() {

            addIntervalButtonClickEvents();
            populateDropDownMenu("ticker-dropdown-2", SYMBOLS);
            addGoButtonClickEvent();
            addLineGraph();

            //debug mode
            if(DEBUG_UNIVERSE) {

                //test
                console.log(SYMBOL, SYMBOLS, dates, timeFrame, closes, scores_by_date, avg_sentiment, bins);
            }
        }());
    </script>

    <!-- ELIMINATE -->
    <script src='{% static "js/plotting_time.js" %}'></script>
    <!--           -->

    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
