{% load static from staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!-- -->
    <link rel="stylesheet" href="{% static 'css/stock_sentiment.css' %}">

    <title>Stock Sentiment Analysis</title>
</head>

<body>
    <!-- LOAD SCREEN -->
    <div id="load-screen"></div>

    <!-- CHART -->
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="row dateselector">
            <div class="col-sm-12 center">
                <form class="row form-inline" name="rangeform"></form>
            </div>
        </div>

        <div class="row chart">
            <div class="col-md-12">
                <figure>
                    <div id="chart"></div>
                </figure>
            </div>
        </div>
    </div><!-- container -->


    <!-- OUTPUT TEXT -->
    <div id="output-text">
        {% if symbol_scores %}
            <p id="universe"><b>Universe: {{ symbol_scores|length }} stock{{ symbol_scores|pluralize }}.</b></p>

            <ul>
                {% for score in symbol_scores %}
                    <li>{{ score.created_at }}  stock: {{ score.symbol }}  sentiments: {{ score.scores }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No stocks matched your search criteria.</p>
        {% endif %}
    </div><!-- output text -->


    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js'></script>
    <!-- -->
    <script>
        var scores  = {{scores|safe}};
        var symbols = {{symbols|safe}};

        console.log(symbols);
    </script>
    <!-- -->
    <script src='{% static "js/plotting.js" %}'></script>

    <!-- remove #load-screen once site has fully loaded -->
    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
