{% load static from staticfiles %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/chartist.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stock_sentiment_historical.css' %}" />

    <!-- ELIMINATE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">
    <!--           -->

    <title>Qualya | Stock Sentiment | Historical Data</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">
        <a href="/home">
            <img id="nav-logo" alt="Qualya Logo" src="{% static 'img/logo.png' %}" />
        </a>
    </div><!-- /nav -->

    <div id="sub-nav">
        <button id="dec-timeframe-button" class="button">-</button>

        <div id="historical-container">Historical data for {{ current_stock }}</div>

        <button id="inc-timeframe-button" class="button">+</button>
    </div><!-- /sub-nav -->

    <!-- ELIMINATE -->
    <div class="chart-container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="row dateselector">
            <div class="col-sm-12 center">
                <form class="row form-inline" name="rangeform"></form>
            </div>
        </div>

        <div class="row chart">
            <div class="col-md-12">
                <figure>
                    <div id="chart"></div>
                </figure>
            </div>
        </div>
    </div><!-- /chart-container -->
    <!--           -->

    <!-- ELIMINATE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js'></script>
    <!--          -->

    <script src='{% static "js/global.js" %}'></script>

    <script>
        'use strict';

        var symbol         = "{{ current_stock }}",
            dates          = {{dates|safe}},
            closes         = {{closes|safe}},
            scores_by_date = {{scores_by_date|safe}},
            avg_sentiment  = {{avg_sentiment|safe}},
            bins           = {{bins|safe}};

        console.log(symbol, dates, closes, scores_by_date, avg_sentiment, bins);
    </script>

    <!-- ELIMINATE -->
    <script src='{% static "js/plotting_time.js" %}'></script>

    <form action = "/stock_sentiment_historical/"  method="get">
        Symbol:  <select name = 'symbol'>  
                <option value="amzn">Amazon</option> 
                <option value="aapl">Apple</option>
                <option value="fb">FB</option> 
                <option value="googl">Google</option> 
                <option value="msft">Microsoft</option> 
                <option value="gdx">GDX</option> 
                <option value="nflx">Netflix</option>
                <option value="twtr">Twitter</option> 
                <option value="tlsa">Tesla</option> 
        </select>&nbsp; 
        <br>
        <br>
        Lookback:  <select name = 'w'>
                <option value="3">3 days</option>
                <option value="7">1 week</option> 
                <option value="30">1 month</option> 
                <option value="90">3 month</option> 
        </select>&nbsp; 
        <input type ="submit" value = "Submit">
    </form>
    <!--           -->

    <script>window.onload = function() { document.getElementById("load-screen").style.display = "none" }</script>
</body>
