{% load static from staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/c3.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/stock_sentiment.css' %}">

    <title>APP NAME | Stock Sentiment | Universe Data</title>
</head>

<body>
    <div id="load-screen"></div>

    <div id="nav">APP NAME</div>

    <div id="chart-container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

        <div class="row dateselector">
            <div class="col-sm-12 center">
                <form class="row form-inline" name="rangeform"></form>
            </div>
        </div>

        <div class="row chart">
            <div class="col-md-12">
                <figure>
                    <div id="chart"></div>
                </figure>
            </div>
        </div>
    </div><!-- /chart-container -->

    <div id="output-text-container"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js'></script>

    <script>
        'use strict';

        //GLOBAL VARS
        var DATE    = "{{ current_date }}",
            SYMBOLS = {{ symbols|safe }},
            SCORES  = {{ scores |safe }};

        //test
        console.log(DATE, SYMBOLS, SCORES);


        //METHODS
        var printUniverseInfo = function() {

            //print info about the stock universe to the page
            var universe = document.createElement("p");

            universe.id = "universe";
            universe.appendChild(document.createTextNode("Universe on "+DATE+": "+SYMBOLS.length+" stock(s)."));

            document.getElementById("output-text-container").appendChild(universe);
        }

        var printDataInfo = function(callback) {

            for(var i=0; i<SYMBOLS.length; i++) {

                //if the selected symbol exists for the date, store array index of the data and print symbol + scores info to the page, then break
                if(sessionStorage.SYMBOL === SYMBOLS[i]) {

                    sessionStorage.DATA_INDEX = i;
                    
                    [sessionStorage.SYMBOL, SCORES[i]].forEach(function(info) {

                        var element = document.createElement('p');

                        element.appendChild(document.createTextNode(info));
                        element.style.textAlign = "center";

                        document.getElementById("output-text-container").appendChild(element);
                    });

                    break;
                }
            }

            //error handling
            callback = function() {

                if(!sessionStorage.DATA_INDEX) {

                    var notif = document.createElement('p');

                    notif.id = "notification";
                    notif.style.textAlign = "center";

                    document.getElementById("output-text-container").appendChild(notif);

                    if(sessionStorage.SYMBOL) {

                        notif.appendChild(document.createTextNode('Sorry, no results on this date for symbol '+sessionStorage.SYMBOL+'.'));
                    } else {
                        notif.appendChild(document.createTextNode('Please select a symbol before loading this page.'));
                    }
                }
            }();
        }


        //MAIN
        (function(methods) {

            for(var i=0; i<methods.length; i++) {

                if(typeof methods[i] === 'function') { methods[i]() } else { methods[i] }
            }
        }([ printUniverseInfo, printDataInfo ])); // PLACE METHODS TO BE CALLED HERE
    </script>

    <script src='{% static "js/plotting.js" %}'></script>

    <script>
        'use strict';

        window.onload = function() {

            sessionStorage.clear();
            document.getElementById("load-screen").style.display = "none";
        }
    </script>
</body>
