/* CSS resets =====================================================================================================================================*/

* {
  margin: 0;
  padding: 0;

  /* box-sizing */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* default ========================================================================================================================================*/

body {
  color: #444444;
}

#load-screen {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#nav {
  background-color: #444444;
  border-bottom: 4px solid #b3d9ff;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

  #nav-logo {
    height: 23px;
    width: 69px;
    margin: 5px;
  }
}


@media only screen and (min-width: 375px) {

  #nav-logo {
    height: 25px;
    width: 75px;
    margin: 6px;
  }
}


@media only screen and (min-width: 475px) {

  #nav-logo {
    height: 28px;
    width: 84px;
    margin: 7px;
  }
}

