/* CSS resets =====================================================================================================================================*/

* {
  margin: 0;
  padding: 0;

  /* box-sizing */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* default ========================================================================================================================================*/

body {
  color: #444444;
}

#load-screen {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#nav {
  background-color: #444444;
  border-bottom: 4px solid #b3d9ff;
}

#sub-nav {
  text-align: center;
  background-color: #f4f7fb;
  border-bottom: 1px solid #b3d9ff;
}

.container,
.text,
.form,
.button {
  display: inline-block;
}

.dropdown {
  margin: 15px 0 0 10px;
  padding: 0 5px;
  background-color: #f4f7fb;
  border: 2px solid #b3d9ff;
}

.button {
  border: none;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

  #nav-logo {
    height: 23px;
    width: 69px;
    margin: 5px 5px 4px 5px;
  }
}


@media only screen and (min-width: 375px) {

  #nav-logo {
    height: 25px;
    width: 75px;
    margin: 6px 6px 5px 6px;
  }
}


@media only screen and (min-width: 475px) {

  #nav-logo {
    height: 28px;
    width: 84px;
    margin: 7px 7px 6px 7px;
  }
}
