/* CSS resets =====================================================================================================================================*/

* {
  margin: 0;
  padding: 0;

  /* box-sizing */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* default ========================================================================================================================================*/

body {
  color: #444444;
}

#load-screen {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#nav,
.button {
  background-color: #444444;
}

#nav {
  border-bottom: 4px solid #b3d9ff;
}

.sub-nav,
.dropdown,
.chart-container {
  background-color: #f4f7fb;
}

.sub-nav {
  text-align: center;
  border-bottom: 1px solid #b3d9ff;
}

.sub-nav-container {
  position: relative;
  bottom: 40%;
}

.container,
.text,
.button {
  display: inline-block;
}

label {
  color: #aaaaaa;
}

.dropdown {
  padding: 0 5px;
  border: 2px solid #b3d9ff;
}

.button {
  color: white;
  border: none;
}

.button:hover {
  opacity: .7;
}

.chart-container {
  border: 1px solid #555555;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

  #nav-logo {
    height: 23px;
    width: 69px;
    margin: 5px 5px 4px 5px;
  }

  .sub-nav,
  .sub-nav-button {
    height: 21px;
  }

  .sub-nav-container {
    width: 240px;
  }

  .sub-nav-button {
    width: 24px;
  }

  .chart-container {
    width: 305px;
  }
}


@media only screen and (min-width: 375px) {

  #nav-logo {
    height: 25px;
    width: 75px;
    margin: 6px 6px 5px 6px;
  }

  .sub-nav,
  .sub-nav-button {
    height: 28px;
  }

  .sub-nav-container {
    width: 265px;
  }

  .sub-nav-button {
    width: 32px;
  }

  .chart-container {
    width: 355px;
  }
}


@media only screen and (min-width: 475px) {

  #nav-logo {
    height: 28px;
    width: 84px;
    margin: 7px 7px 6px 7px;
  }

  .sub-nav-container {
    width: 300px;
  }

  .chart-container {
    width: 395px;
  }
}


@media only screen and (min-width: 575px) {

  .chart-container {
    width: 430px;
  }
}


@media only screen and (min-width: 700px) {

  .sub-nav,
  .sub-nav-button {
    height: 35px;
  }

  .sub-nav-container {
    width: 350px;
  }

  .sub-nav-button {
    width: 40px;
  }

  .chart-container {
    width: 530px;
  }
}
