#main {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto; /* left and right margins set to auto to horizontally center this element within the body */
  padding: 25px;
  text-align: center;
}

#search-form {
  margin: 30px 0 10px 0;
  padding: 5px;
  background-color: #f4f7fb;
  border: 1px solid #555555;
}

label {
  color: #aaaaaa;
}

#ticker-dropdown,
#search-form-button {
  border: none;
  border-radius: 3px;
}

#ticker-dropdown {
  margin: 15px 0 0 10px;
  padding: 0 0 0 5px;
  background-color: #b3d9ff;
}

#search-form-button {
  margin: 10px 0;
  padding: 10px 0;
  color: white;
  background-color: #444444;
}

#main-img {
  margin: 40px 0 0 0;
}

/* media queries ==================================================================================================================================*/

@media only screen and (max-width: 374px) {

  #main-heading {
    font: 200 25px/1.5 Trebuchet MS, sans-serif;
  }

  .search-form-child {
    padding: 7px;
  }

  label {
    font: 200 19px Trebuchet MS, sans-serif;
  }

  #ticker-dropdown,
  #search-form-button {
    font: 100 17px Trebuchet MS, sans-serif;
  }

  #search-form-button {
    width: 160px;
  }

  #main-img {
    max-width: 100px;
  }
}


@media only screen and (min-width: 375px) {

  #main-heading {
    font: 200 29px/1.5 Trebuchet MS, sans-serif;
  }

  .search-form-child {
    padding: 10px;
  }

  label {
    font: 200 20px Trebuchet MS, sans-serif;
  }

  #ticker-dropdown,
  #search-form-button {
    font: 100 18px Trebuchet MS, sans-serif;
  }

  #search-form-button {
    width: 175px;
  }

  #main-img {
    max-width: 110px;
  }
}


@media only screen and (min-width: 475px) {

  #main-heading {
    font: 300 31px/1.5 Trebuchet MS, sans-serif;
  }

  .search-form-child {
    padding: 15px;
  }

  label {
    font: 200 22px Trebuchet MS, sans-serif;
  }

  #ticker-dropdown,
  #search-form-button {
    font: 100 20px Trebuchet MS, sans-serif;
  }

  #search-form-button {
    width: 180px;
  }

  #main-img {
    max-width: 130px;
    margin-top: 65px;
  }
}


@media only screen and (min-width: 575px) {

  #main-heading {
    margin: 15px 0 10px 0;
    font: 400 33px/1.5 Trebuchet MS, sans-serif;
  }

  #main-img {
    margin-top: 75px;
  }
}


@media only screen and (min-width: 700px) {

  #main-heading {
    margin: 30px 0 20px 0;
    font: 500 35px/1.75 Trebuchet MS, sans-serif;
  }

  label {
    font: 300 23px Trebuchet MS, sans-serif;
  }

  #ticker-dropdown,
  #search-form-button {
    font: 200 21px Trebuchet MS, sans-serif;
  }

  #search-form-button {
    width: 185px;
  }

  #main-img {
    max-width: 150px;
    margin-top: 100px;
  }
}
