body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", Helvetica, sans-serif;
  text-align: center;
}

#icon-container {
  display: inline-block;
  width: 99vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
  text-align: left;
  border-bottom: 1px solid #666666;
}

#nav-menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.nav-menu-links {
  font-size: 2vw;
  text-decoration: none;
  color: black;
}

.nav-menu-links:hover {
  color: #ff5d5d;
}
