#historical-container {
  width: 200px;
  padding: 5px 0 3px 5px;
  font: 700 12px "Arial", sans-serif;
}

#zoom-in-button,
#zoom-out-button {
  height: 35px;
  width: 40px;
  margin: 5px 9px 0 25px;
  font: 700 22px "Arial", sans-serif;
  background-color: #b3d9ff;
}

#ticker-dropdown-2-container {
  display: inline-block;
}

#ticker-dropdown-2 {
  margin: 0 0 0 4px;
  padding: 3px;
}

#go-button {
  margin: 5px 0;
  padding: 0 4px 2px 3px;
  font: 200 15px Arial, sans-serif;
  color: white;
  background-color: #444444;
}

#chart {
  margin: 50px 0;
}

/* media queries ==================================================================================================================================*/

