#historical-container,
#zoom-out-button,
#zoom-in-button {
  vertical-align: middle;
}

#go-button,
#line-charts-container {
  position: relative;
}

#line-charts-container > * { /* compound charts work-around */
  width: 100%;
  height: 93.75%;
  position: absolute;
  top: 0;
  left: 0;
}

.closes {
  stroke: orange;
}

.movCloses {
  stroke: rgba(255,125,0,0.5);
}

.avgSentiment {
  stroke: rgba(0,0,255,0.8);
}

.movAvgSentiment {
  stroke: rgba(0,0,255,0.5);
}

#line-charts-legend {
  text-align: center;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

}


@media only screen and (min-width: 375px) {

  #historical-container {
    width: 250px;
    margin: 2px 0 3px 0;
    font: 700 10px Arial, sans-serif;
  }

  #zoom-out-button,
  #zoom-in-button {
    height: 28px;
    width: 32px;
  }

  #hist-text {
    margin-right: 7px;
  }

  #go-button {
    height: 16px;
    width: 20px;
    bottom: 1px;
    margin-left: 8px;
    padding: 0 1px 2px 0;
  }

  #line-charts-container,
  #stacked-bar-chart-container {
    width: 350px;
  }

  #line-charts-container {
    height: 250px;
    margin: 25px auto 0 auto;
  }

  #line-charts-legend {
    height: 23px;
    margin-top: 227px;
    padding: 0 15px;
    font: 200 7px sans-serif;
  }

  #stacked-bar-chart-container {
    height: 950px;
    margin: 25px auto;
  }

  #stacked-bar-chart {
    margin: 5px;
  }
}


@media only screen and (min-width: 475px) {

  #line-charts-container,
  #stacked-bar-chart-container {
    width: 450px;
  }

  #line-charts-container {
    height: 275px;
    margin: 30px auto 0 auto;
  }

  #line-charts-legend {
    height: 18px;
    margin-top: 257px;
  }
}


@media only screen and (min-width: 575px) {

  #historical-container {
    width: 275px;
    margin: 2px 15px 0 15px;
    font: 700 12px Arial, sans-serif;
  }

  #zoom-out-button,
  #zoom-in-button {
    height: 35px;
    width: 40px;
  }

  #go-button {
    height: 18px;
    width: 25px;
    margin-left: 7px;
    padding: 0 1px 1px 0;
  }

  #line-charts-container,
  #stacked-bar-chart-container {
    width: 525px;
  }

  #line-charts-container {
    height: 300px;
    margin: 35px auto 0 auto;
  }

  #line-charts-legend {
    height: 25px;
    margin-top: 275px;
    padding-top: 5px;
    font: 100 8px sans-serif;
  }
}


@media only screen and (min-width: 700px) {

  #line-charts-container,
  #stacked-bar-chart-container {
    width: 600px;
  }

  #line-charts-container {
    height: 350px;
    margin: 50px auto 0 auto;
  }

  #line-charts-legend {
    margin-top: 325px;
    padding-top: 4px;
    font: 200 9px sans-serif;
  }

  #stacked-bar-chart-container {
    margin: 35px auto;
  }
}
