#universe-container {
  background-color: #f4f7fb;
  border-bottom: 1px solid #b3d9ff;
}

#universe,
#histogram-container,
#sentiment-bars-container {
  text-align: center;
}

#universe,
.sentiment-bar {
  margin: 0 auto;
}

#universe {
  max-width: 500px;
  padding: 10px;
  font: 200 12px "Arial", sans-serif;
  color: #888888;
}

#histogram-container {
  display: none;
  margin: 25px 0 40px 0;
}

#sentiment-bars-container {
  margin: 50px 0;
}

.sentiment-bar {
  display: block;
  opacity: 0.9;
}

.sentiment-bar:hover {
  opacity: 0.75;
}

