#universe,
#histogram-container,
#sentiment-bars-container {
  text-align: center;
}

#date-button-back,
#date-button-forward {
  background-color: #b3d9ff;
}

#histogram-container,
#sentiment-bars-container {
  display: none;
}

#histogram-container {
  margin: 15px 0;
}

#sentiment-bars-container {
  background-color: #f4f7fb;
  border: 1px solid #555555;
}

.sentiment-bar {
  display: block;
  margin: 0 auto;
}

.sentiment-bar:hover {
  opacity: .7;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

  #date-button-back,
  #date-button-forward {
    height: 25px;
    width: 25px;
    margin: 5px 0;
    font: 700 18px "Arial", sans-serif;
  }

  #universe-container{
    width: 240px;
  }

  #universe {
    padding: 10px 5px;
    font: 700 9px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    padding: 12px 0;
    max-width: 305px;
    margin: 30px auto;
  }
}


@media only screen and (min-width: 375px) {

  #date-button-back,
  #date-button-forward {
    width: 30px;
    margin: 5px;
    padding: 0 0 2px 0;
    font: 700 20px "Arial", sans-serif;
  }

  #universe-container{
    width: 270px;
  }

  #universe {
    font: 700 10px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    padding: 15px 0;
    max-width: 355px;
    margin: 35px auto;
  }
}


@media only screen and (min-width: 475px) {

  #date-button-back,
  #date-button-forward {
    height: 30px;
    width: 35px;
    font: 700 22px "Arial", sans-serif;
  }

  #universe-container{
    width: 325px;
  }

  #universe {
    font: 700 11px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    max-width: 395px;
    margin: 40px auto;
  }
}


@media only screen and (min-width: 575px) {

  #date-button-back,
  #date-button-forward {
    height: 35px;
    width: 40px;
    font: 700 24px "Arial", sans-serif;
  }

  #universe {
    font: 700 12px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    max-width: 430px;
    margin: 45px auto;
  }
}


@media only screen and (min-width: 700px) {

  #sentiment-bars-container {
    max-width: 530px;
    margin: 50px auto;
  }
}
