#histogram-container,
#sentiment-bars-container {
  display: none;
  text-align: center;
}

#histogram-container {
  margin: 25px auto;
  padding: 15px 10px 5px 10px;
}

.sentiment-bar {
  display: block;
  margin: 0 auto;
}

.sentiment-bar:hover {
  opacity: .7;
}

/* media queries ==================================================================================================================================*/

@media only screen and (min-width: 240px) {

  #universe {
    font: 700 9px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    width: 305px;
    margin: 30px auto;
    padding: 12px 0;
  }
}


@media only screen and (min-width: 375px) {

  #sentiment-bars-container {
    width: 355px;
    margin: 35px auto;
    padding: 15px 0;
  }
}


@media only screen and (min-width: 475px) {

  #universe {
    font: 700 10px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    width: 395px;
    margin: 40px auto;
  }
}


@media only screen and (min-width: 575px) {

  #sentiment-bars-container {
    width: 430px;
    margin: 45px auto;
  }
}


@media only screen and (min-width: 700px) {

  #universe {
    font: 700 12px "Arial", sans-serif;
  }

  #sentiment-bars-container {
    width: 530px;
    margin: 50px auto;
  }
}
